*,::before,::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.container {
    width: 100vw;
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.bg-round {
    position: absolute;
    transition: transform 1s ease-in;
}
.bg-round-top {
    top: -100px;
    left: 300px;
    transform: translate(-50%, -50%);
}
.bg-round-bottom {
    bottom: -150px;
    right: 300px;
    transform: translate(50%, 50%);
}
@media screen and (max-width:900px) {
    .bg-round-top {
        transform: translate(-100%, -50%);
    }
    .bg-round-bottom {
        transform: translate(100%, 50%);
    }
}


.card {
    width: 330px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    color: hsl(227, 10%, 46%);    
    font-family: 'Kumbh Sans', sans-serif;
    z-index: 999;
    box-shadow: 2px 2px 80px hsl(227, 10%, 46%);
}
.card-top {
    height: 120px;
    width: 100%;
    background: url(images/bg-pattern-card.svg);
    border-radius: 15px 15px 0 0;
}
.card-content {
    position: relative;
    padding-top: 70px;
}
.card-content h1 {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    display: inline;
    font-weight: 700;
    padding-right: 5px;
}
.card-content p {
    padding-top: 15px;
    padding-bottom: 20px;
}
.card-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4px;
}
.card-img-container {
    background-image: url(images/image-victor.jpg);
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.card-bottom {
    border-top: 1px solid hsl(0, 0%, 59%);
    width: 100%;
}
.card-bottom ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 20px;
}
.card-bottom h2 {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    display: inline;
    font-weight: 700;
}
.card-bottom p {
    padding-top: 10px;
}